body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #4CAF50;
    color: white;
    
    text-align: center;
}

nav {
    background-color: #4CAF50;
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #111;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
}

.movies {
    
    list-style-type: none;
    padding: 0;
}

.movies li {
    margin-bottom: 20px;
}

.movie-poster {
    width: 350px;
    height: auto;
    display: block;
}



footer {
    text-align: center;
    padding: 5px;
    background-color: #4CAF50;
    color: white;
    width: 100%;
    bottom: 0;
}


