body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}


header {
    background-color: #4CAF50;
    color: white;
    
    text-align: center;
}

/* navbar styles */

nav {
    background-color: #4CAF50;
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #111;
}

section {
    padding: 20px;
    margin: 50px;
    background-color: white;
    border-radius: 8px;

}


#fortune{
    text-align: center;
}


/* currency convert form styles */

#currency-values {
    display: flex;
    justify-content: space-evenly;
}

form {
    padding: 20px;
}

.convert-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px; 
}

.form-group label {
    margin-left: 10px; 
}


.form-group input {
    flex: 1;
}

 /* footer styles */

 footer {
    text-align: center;
    padding: 5px;
    background-color: #4CAF50;
    color: white;
    width: 100%;
    bottom: 0;
}